
<h1>Hospitals</h1>

<% @hospitals.each do |hospital| %>
  <div style="margin-bottom: 20px;">
    <h3>
      <%= link_to hospital.name, hospital_path(hospital) %>
    </h3>

    <p><strong>City:</strong> <%= hospital.city %></p>
    <p><strong>Address:</strong> <%= hospital.address %></p>
    <p><strong>Phone:</strong> <%= hospital.phone %></p>
  </div>
<% end %>

